// I M P O R T    F O N T 
@import "../fonts/volkorn/stylesheet.css";
@import "../fonts/inknut/stylesheet.css";
@import "settings.scss";

// PAGE
$widthPage: $page-widthPage;
$heightPage: $page-heightPage;
$margintop: $page-margintop;
$marginleft: $page-marginleft;

$scale : $page-scale;


// FONT SIZE
$h1Size: 30pt;
$h2Size: 25pt;
$h3Size: 18pt;
$h6Size: 16pt;
$textSize: 15pt;

// FONT FAMILY
$titleFont : "inknut", sans-serif;
$textFont: "vollkorn", sans-serif;

@mixin titleStyle{
	font-size: $h1Size;
	font-family: $titleFont;
	font-weight: bold;
}

@mixin textStyle{
	font-size: $textSize;
	font-family: $textFont;
	font-weight: normal;
}









